<h1>Electre Algorithm</h1>
<%= label_tag 'Choose project' %>
<%= select_tag 'projsel', options_from_collection_for_select(Project.all, "id", "name"),
               :onchange => "if(this.value){
               url = window.location.protocol + '//' + window.location.host + '/projects/' + this.value + '/electre';
               window.location = url;}", class: 'form-control' %>
<br>

<a class="btn btn-default" href="/projects/<%= @project.id %>/filter">Filter</a></br></br>

<style>
  #projsel {
    width: 150px;
  }
</style>
<script>
  $("#projsel").val('<%= params[:project_id] %>');
</script>