<h1>Criterion Information</h1>

<p><strong>ID</strong></p>
<%= @criterion.id %>
</br></br>
<p><strong>Context</strong></p>
<%= @criterion.criterioncontext.name %>
</br></br>
<p><strong>Name</strong></p>
<%= @criterion.name %>
</br></br>
<%= link_to "Back to criteria overview", employees_path %>
